
<div class="detail-form">
      <form [formGroup]="alumniForm" (ngSubmit)="submitAlumniGeneralData()">
<div class="header">
  <div class="header-main">
<label>
    Last Name:
    <input type="text" [formControl]="formControls.last_name" name="last_name" [class.input-error]="validationErrors?.last_name != null">
</label>

<label>
    First Name:
    <input type="text" [formControl]="formControls.first_name" name="first_name" [class.input-error]="validationErrors?.first_name != null">
</label>


</div>
<div class="buttons">
        <button class="btn-dark" type="submit">Save</button>
        <button class="btn-light" (click)="this.close.emit()">Close</button>
      </div>
</div>

<div id="main">
    <div class="error-list">
      <div class="error-header">Validation Errors</div>
      
    </div>
    <div class="section-name">
        <div class="left">Mailing Address</div>
        <div class="right">Telephone Number/Email</div>
      </div>
      <div class="flex-container">
        <div class="left">
            <div class="label-input-group">
               <label>Street Address:</label>
               <div class="input-error-message-group">
                 <input type="text" [formControl]="formControls.mailing_address_line_1" name="mailing_address_line_1" style="width: 25ch;" maxlength="32" [class.input-error]="validationErrors?.mailing_address_line_1 != null"><br />
                 <div class="error-message">{{validationErrors?.mailing_address_line_1}}</div>
                </div>
              </div>
              <div class="label-input-group">
               <label></label>
               <div class="input-error-message-group">
                 <input type="text" [formControl]="formControls.mailing_address_line_2" name="mailing_address_line_2" style="width: 25ch;" maxlength="32" [class.input-error]="validationErrors?.mailing_address_line_1 != null"><br />
                 <div class="error-message">{{validationErrors?.mailing_address_line_2}}</div>
                </div>
              </div>
              <div class="label-input-group">
                <label>City:</label>
                <div class="input-error-message-group">
                  <input type="text" [formControl]="formControls.mailing_address_city" name="mailing_address_city" style="width: 20ch;" [class.input-error]="validationErrors?.mailing_address_city != null"><br />
                  <div class="error-message">{{validationErrors?.mailing_address_city}}</div>
                </div>
              </div>
              <div class="label-input-group">
                <label>State:</label>
                <div class="input-error-message-group">
                  
                  <input type="text" [formControl]="formControls.mailing_address_state" name="mailing_address_state" style="width: 3ch;" maxlength="2" [class.input-error]="validationErrors?.mailing_address_state != null"><br />
                  <div class="error-message">{{validationErrors?.mailing_address_state}}</div>
                </div>
              </div>
              <div class="label-input-group">
                <label>Zip Code:</label>
                <div class="input-error-message-group">
                  
                  <input type="text" [formControl]="formControls.mailing_address_zipcode" name="mailing_address_zipcode" style="width: 6ch;" maxlength="5" [class.input-error]="validationErrors?.mailing_address_zipcode != null"><br />
                  <div class="error-message">{{validationErrors?.mailing_address_zipcode}}</div>
                </div>
              </div>
 

                
                
                
                
                
            </div>


            <div class="right">
              <div class="label-input-group">
                <label>Telephone Number:</label>
                <div class="input-error-message-group">
                <input type="text" [formControl]="formControls.phone_number" style="width: 14ch;" maxlength="14" (input)="processPhone($event)" [class.input-error]="validationErrors?.phone_number != null">
                <div class="error-message">{{validationErrors?.phone_number}}</div>
                </div>
              </div>
              <div class="label-input-group">
                <label>E-mail Address:</label>
                <div class="input-error-message-group">
                <input type="text" [formControl]="formControls.email_address" name="email_address" style="width: 30ch;" maxlength="50" [class.input-error]="validationErrors?.email_address != null">
                <div class="error-message">{{validationErrors?.email_address}}</div>
              </div></div>

                      
                          
                  
  
  
  
              </div>
  
  
          </div>            

        



<div class="audit-data">
  <div class="left" style="display: flex;">
  <div style="font-weight: bold;">Added By:<br />Added Date/Time:</div>
  <div>{{alumniForm.value?.added_by}}<br />{{alumniForm.value?.added_datetime | date:'L/d/yyyy h:mm a'}}</div>
</div>
<div class="right" style="display: flex;">
  <div style="font-weight: bold;">Last Updated By:<br />Last Updated Date/Time:</div>
  <div>{{alumniForm.value?.updated_by}}<br />{{alumniForm.value?.updated_datetime | date:'L/d/yyyy h:mm a'}}</div>
</div>
</div>
<div class="tab-control">
    <div class="selections">


      <button class="no-select" [class.selected]="currentDetailTab == 'degrees'" (click)="changeDetailTab('degrees')">Degrees</button>
      <button class="no-select" (click)="changeDetailTab('employments')" [class.selected]="currentDetailTab == 'employments'">Employments</button>
      <button class="no-select" [class.selected]="currentDetailTab == 'graduateSchools'" (click)="changeDetailTab('graduateSchools')">Graduate Schools</button>
      <button class="no-select" [class.selected]="currentDetailTab == 'comments'" (click)="changeDetailTab('comments')">Comments</button>
    </div>
    <div class="content-area">
      <div id="degrees" [style.display]="currentDetailTab == 'degrees' ? 'inline-block' : 'none'">



          <table>
                
    
              <tr>
                <th>Diploma Description</th>
                <th>Graduation Term Code</th>
                <th>Added By<br />Date/Time</th>
                <th>Last Updated By<br />Date/Time</th>
              </tr>
            
          <tr *ngFor="let degree of currentStudent?.degrees">
            <td>{{degree['diploma_description']}}</td>
            <td>{{degree['graduation_term_code']}}</td>
            <td>{{degree['added_by']}}<br />{{degree['added_datetime'] | date:'L/d/yyyy h:mm a'}}</td>
            <td>{{degree['updated_by']}}<br />{{degree['updated_datetime'] | date:'L/d/yyyy h:mm a' }}</td>



          </tr>



          </table>









      </div>
      <div id="employments" [style.display]="currentDetailTab == 'employments' ? 'inline-block' : 'none'">
          
          <table>
            <tr><th>Employer Name</th>
              <th>Location</th>
            <th>Role Title</th>
            <th>Active<br />Employment</th>
            <th>Added By<br />Date/Time</th>
            <th>Last Updated By<br />Date/Time</th>
            </tr>
            <tr *ngFor="let employment of currentStudent?.employments">
              <td>{{employment['employer_name']}}</td>
              <td>{{employment['city']}} , {{employment['state']}}</td>
              <td>{{employment['job_title']}}</td>
              <td>{{employment['active'] ? 'Y' : 'N'}}</td>
              <td>{{employment['added_by']}}<br />{{employment['added_datetime'] | date:'L/d/yyyy h:mm a'}}</td>
              <td>{{employment['updated_by']}}<br />{{employment['updated_datetime'] | date:'L/d/yyyy h:mm a' }}</td>
            </tr>
          </table>

      </div>

      <div id="graduate-schools" [style.display]="currentDetailTab == 'graduateSchools' ? 'inline-block' : 'none'">
          
        <table>
          <tr><th>School Name</th>
            <th>Location</th>
          <th>Added By<br />Date/Time</th>
          <th>Last Updated By<br />Date/Time</th>
          </tr>
          <tr *ngFor="let graduateSchool of currentStudent?.graduateSchools">
            <td>{{graduateSchool['school_name']}}</td>
            <td>{{graduateSchool['city']}} , {{graduateSchool['state']}}</td>
            <td>{{graduateSchool['added_by']}}<br />{{graduateSchool['added_datetime'] | date:'L/d/yyyy h:mm a'}}</td>
            <td>{{graduateSchool['updated_by']}}<br />{{graduateSchool['updated_datetime'] | date:'L/d/yyyy h:mm a' }}</td>
          </tr>
        </table>

    </div>

    <div id="comments" [style.display]="currentDetailTab == 'comments' ? 'inline-block' : 'none'">
          
      <table>
        <tr><th>Comment</th>

        <th>Added By<br />Date/Time</th>
      
        </tr>
        <tr *ngFor="let comment of currentStudent?.comments">
          <td>{{comment['comment']}}</td>
          <td>{{comment['added_by']}}<br />{{comment['added_datetime'] | date:'L/d/yyyy h:mm a'}}</td>
        </tr>
      </table>

  </div>


    </div>

  </div>


</div>
</form>
<div class="inactive-detail-back" [style.display]="subDetailVisible ? 'flex' : 'none'">
<div class="detail-box">
  <div class="header">
    <div class="header-main">
        
            Test
          </div>
          <div class="buttons">
            <button class="btn-dark" (click)="this.close.emit()">Save</button>
            <button class="btn-light" (click)="this.close.emit()">Close</button>
          </div>
          
        </div>
        <div id="main">
    <div class="flex-container">
      
        <div class="left">
            <div class="flex-container">
           <div><div class="control-block-list">
               <label>Diploma Description:</label>
               <label>Graduation Term Code:</label>
               </div>
               </div>
               <div>
                   <div class="control-block-list">
                       <input type="textbox" name="diploma_description" id="diploma_description">
                   </div>
               </div>


      



</div>
</div>
</div>
</div>
</div>
</div>