

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }
  
  button:focus {
    outline:none !important;
    
  }
  
  button {
    font-weight: bold;
  }
  

  

.detail-form .main, .detail-box .main {
    display: block;
    margin-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    min-height: 85%;
    max-height: 90%;
    
  }
  
    .detail-form {
      position: relative;
      border-radius: 30px;
      
    }
  
  
  
    .detail-form th {
      background-color:  rgba(196,196,196,0.25);
      vertical-align: top;
    }
  
  .header {
      color: white;
      background-color: rgb(154,0,0);
      width: 100%;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
      padding-top: 10px;
      padding-bottom: 10px;
      
      padding-left: 20px;
      padding-right: 20px;
      display: flex;
      justify-content: flex-start;
      
    }
  
    .right {
        margin-left: 20px;
    }
  
    input[type=text] {
        margin-left: 5px;
        margin-top: 3px;
        margin-right: 10px;
        
    }
  
    .input-error {
      background-color: #ffdbdb;
      border: solid 1px red;
    }
  
      .error-list {
        background-color: #ffdbdb;
        height: 100px;
        overflow: auto;
        margin-top: 10px;
        display: none;
  
      }
  
      .main .error-message {
        display: block;
        color: red;
        font-weight: bold;
        
      }
  
      .error-list .error-header {
        background-color: rgb(154,0,0);
        color: white;
        font-weight: bold;
        padding-left: 10px;
        position: sticky;
        top: 0;
        left: 0;
      }
  
  
    label {
      margin-top: 3px;
      font-weight: bold;
    }
  
    
  
  .detail-form .header .header-main {
      font-weight: bold;
      font-size: 14px;
      color: white;
      padding-top: 2px;
  
    }
  
    .detail-form .main label {
      display: inline-block;
      width: 35%;
      min-height: 1ch;
      vertical-align: top;
  
    }
  
    
    .main .label-input-group {
        display: block;
    }
    
   .main .input-error-message-group {
      display: inline-block;
    }
  
    .detail-form .header .main label {
      margin-right: 10px;
     
    }
  
    .header .buttons {
        margin-left: auto;
        padding-top: 7px;
        right: 0;
        text-align: right;
  
    }
  
  
  
     table{
      width: 100%;
      table-layout: fixed;
      height: 100%;
  
    }
    
    .detail-form .main {
      display: inline-block;
      margin-bottom: 10px;
      padding-left: 10px;
      padding-right: 10px;
      width: 100%;
    
      
    }
    
    
    .detail-form .header .main {
      font-weight: bold;
      font-size: 16px;
      color: white;
    }
    
    
    .detail-form .header .buttons button {
      margin-left: 5px;
    }
    
    
    .flex-container {
      display: flex;
    
    }
    
    .detail-form .left {
      flex: 1;
      padding: 0 15px 0 15px;
    }
    
    .detail-form .right {
      flex: 1;
      
    }
    
    .detail-form .section-name {
      margin-top: 10px;
      background-color: rgba(196,196,196,0.25);
      font-weight: bold;
      width: 100%;
      display: flex;
      margin-bottom: 10px;
    }
    
    
  
    
  .tab-control {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    display: inline-block;
    padding: 5px 5px 5px 5px;
  
  
  }
  
  .audit-data {
    background-color: rgba(196,196,196,0.10);
    display: flex;
    margin-top: 10px;
  }
  
  .tab-control .selections {
      display: flex;
      background-color: #343a40;
      height: 45px;
     
  
  
  }
  
  .tab-control .navigation-buttons button {
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(255,255,255, 0.9);
    border: none;
  
    
  }
  
  .tab-control .content-area button {
    margin-top: 2px;
    
    
  }
  
  
  
  
  .tab-control .selections .selected {
    background-color:  rgb(154,0,0);
    color: white;
    
  
    
  }
  
  
  
  .tab-control .content-area {
    margin-bottom: 10px;
    padding: 5x 5px 15px 5px;
    background-color: rgba(196,196,196,0.15);
    border: solid lightgray;
    border-top: none;
    max-height: 200px;
    overflow: auto;
  
    
  }
  
  .tab-control .content-area table {
    margin-top: 5px;
    table-layout: fixed;
    border: solid  rgba(196,196,196,0.25);
    margin-bottom: 5px;
    white-space: nowrap;
  }
  
  .tab-control .content-area td {
    vertical-align: top;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
  
  }
  
  .tab-control .content-area .cell-content {
  max-height: 100px;
  overflow: hidden;
  }
  
  .tab-control .content-area button, .delete-confirmation button {
    margin-right: 5px;
    border: none;
  }
  
  
  
  
  .detail-box {
    
    min-width: 65%;
    background-color: white;
    border-radius: 30px;
    border: solid 2px;
  }
    
  .detail-box .main {
    margin-top: 20px;
  }
  
  .detail-box input[type=text] {
    margin-left: 0;
  }
  
  .delete-confirmation {
    height: 20%;
    width: 20%;
    background-color: white;
    border: solid 2px rgb(154,0,0);
    font-size: 18px;
    font-weight: bold;
    color:  rgb(154,0,0);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  

  .detail-form .header .student-name {
    font-weight: bold;
    font-size: 16px;
    color: white;
  }


  .inactive-detail-back {
    background-color: rgba(0,0,0, 0.7);
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    margin-bottom: 40px;
    width: 100%;
    height: 100%;
    z-index: 10;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  
  
  }
  
  .add-new-child-record {
    display: flex;
    justify-content: flex-end;
    margin-top: 3px;
    margin-bottom: 3px;
  }
  