

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


.main-navbar {
  background-color: rgb(154,0,0);
  color: white !important;
  margin-bottom: 15px;
  font-family: 'Roboto', sans-serif;
  position: sticky;
  left: 0; 
  top: 0;
}

.main-navbar .application-name {
  font-weight: bold;
  display: inline-block;
  font-size: 1.27rem;
  margin-right: 50px;
  letter-spacing: 1.1px;
}

.main-navbar ul {
  letter-spacing: 0.7px;
}

.main-navbar ul li {
    margin-right: 8px;

}


a {
  text-decoration: none;
  color: white;
  display: block;
  width: 100%;

}

.active-nav {
  font-weight: bold;

}

.drop-down-item {
  background-color: white;
  color: #343a40;
  width: 100%;
  padding-left: 5px;
}

.drop-down-item:hover {
  background-color: rgba(0,0,0,0.2);


}

.drop-down-item a { 
  color: #343a40;
}


