<nav class="navbar navbar-expand-sm justify-content-end main-navbar">
    <div class="navbar-brand"><img src="assets/iuslogo.jpg" height="65px" width="100px">
      <div class="application-name">Career Tracker</div>
  
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav text-right">
        <li class="nav-item nav-link" routerLinkActive="active-nav"><a routerLink="records/alumni">Records</a></li>
        <li class="nav-item nav-link" routerLinkActive="active-nav"><a routerLink="imports">Import Data</a></li>
        <li class="nav-item nav-link" routerLinkActive="active-nav"><a routerLink='exports-reports'>Reports</a></li>
  
      </ul>
    </div>
    <div class="ml-auto mr-1">
      <div class="nav-link">Logout</div>
  
    </div>
  </nav>
  