


<div class="records-list">
    <table class="table table-striped">
      <thead class="thead-dark">
        <th scope="col" class="right-align">Employer ID</th>
        <th scope="col">Employer Name</th>
        <th scope="col">Location</th>
        <th scope="col">Contact</th>
        <th scope="col" style="text-align: center;"><button class="fas fa-plus-circle" style="border: none; color: white; background: transparent;" (click)="addNewEmployer()"></button>
          <button class="fas fa-binoculars" style="border: none; color: white; background: transparent;" (click)="toggleSearchActive()"></button>
          <button class="fas fa-window-close" style="background-color: transparent; color: white; border: none;" *ngIf="searchApplied" (click)="removeSearchFilter()"></button>
  
        </th>
      </thead>
      <tbody>
        <tr *ngFor="let employer of employerList">
          <td class="right-align">{{employer["employer_id"]}}</td>
          <td>{{employer["employer_name"]}}</td>
          <td>{{employer["address_line_1"] != null ? employer["address_line_1"] + " "  : ""}}
               {{ employer["address_line_2"] != null ? employer["address_line_2"] + " " : ""}}
               {{ employer["city"] != null ? employer["city"] + ", " + employer["state"] : ""}}

          </td>
          <td>{{employer["contact_name"]}}</td>
          <td style="text-align: center;"><button class="fas fa-search"  style="color: black; background: transparent; border: none;" (click)="viewDetail(employer['employer_id'], false)"></button>
            <button class="fas fa-edit" style="color: black; background: transparent; border: none;" (click)="viewDetail(employer['employer_id'], true)"></button>
  
          </td>
  
        </tr>
      </tbody>
    </table>
  </div>
  <nav aria-label="Record pages" *ngIf="employerList != undefined && employerList.length > 0">
    <ul class="pagination justify-content-end paging-links no-select">
      <li class="page-item disabled" [class.disabled]="currentPage == 1">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true"
          (click)="gotoPage(this.currentPage - 1 )">Previous</a>
      </li>
      <li *ngFor="let item of getPageWindowArray()" class="page-item" [class.paging-links-active]="currentPage == i + 1">
        <a (click)="gotoPage(item+1)" class="page-link" [class.paging-links-active]="currentPage == (item+1)">{{item + 1}}</a></li>
      <li class="page-item" [class.disabled]="currentPage >= totalPages">
        <a class="page-link" href="#" (click)="gotoPage(this.currentPage + 1 )">Next</a>
      </li>
    </ul>
  </nav>
  
  
  
  
  
  <div class="detail-form-back" [style.display]="detailVisible ? 'flex' : 'none'" [@fade]="detailVisible ? 'visible' : 'void'">
  
    <div class="detail-form" [style.display]="!editMode ? 'inline-block' : 'none'" (click)="$event.stopPropagation()">
      
    <EmployerViewFormComponent *ngIf="!editMode" (close)="closeDetail()" (invokeEdit)="invokeEdit()" [currentEmployer]="currentEmployer" #viewForm></EmployerViewFormComponent>
    </div>
  
  
  
  
  
    <div class="edit-form" [style.display]="editMode ? 'inline-block' : 'none'" (click)="$event.stopPropagation()">
      
        <EmployerEditFormComponent *ngIf="editMode" (close)="closeDetail()" (refreshData) = "refreshData()" [currentEmployer]="currentEmployer" [addMode]="addMode" #editForm></EmployerEditFormComponent>
      
      </div>
  
  
  
  </div>
  
  <div class="detail-form-back" [@fade]="searchDialogActive ? 'visible' : 'void'"  [style.display]="searchDialogActive ? 'flex' : 'none'">
    
      <div id="search-box">
        
        <div id="header">
        <div id="header-title">Search</div>
        <div id="header-buttons">
          <button class="far fa-window-close" style="border: none; background: transparent; color: white; font-size: 1.3em;" (click)="toggleSearchActive()"></button>
  
          
        </div>
      </div>
        <div id="body">
    
    
          <table>
            <tr>
              <td>Employer Name:</td>
              <td colspan="3"><input type="text" name="employer_name" [(ngModel)]="searchValues.employer_name"></td>
             
            </tr>
            <tr>
              <td>City:</td>
              <td><input type="text" [(ngModel)]="searchValues.employer_address_city"></td>
              <td>State:</td>
              <td><input style="width: 30px;" type="text" [(ngModel)]="searchValues.employer_address_state"></td>
            </tr>
            
          </table>
          <div id="search-button">
            <button class="btn-dark" (click)="getSearchResults(true)">Search</button>
          </div>
    
    
        </div>
      
      
    </div>
    
  </div>