<h1>Signup</h1>

<!-- Display message if signup error -->
<% if (messages.error) { %>
    <%= messages.error %>
<% } %>

<!-- Post to register route -->
<form action="/signup" method="POST">

    <!-- Username text box -->
    <div>
        <label for="username">Username</label>
        <input type="username" id="username" name="username"
        required>
    </div>

    <!-- Password text box -->
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password"
        required>
    </div>

    <!-- Submit username and password to database -->
    <button type="submit">Signup</button>

</form>

<!-- Link to login page -->
<a href="/login">Login</a>