
<div class="add-button">
  <button class="btn-dark" (click)="addNewAlumni()">Add New</button>
</div>



<div class="records-list no-select">
  <table class="table table-striped">
    <thead class="thead-dark">
      <th scope="col" class="right-align">Alumnus ID</th>
      <th scope="col">Last Name</th>
      <th scope="col">First Name</th>
      <th scope="col">City</th>
      <th scope="col">State</th>
      <th scope="col" class="right-align">Graduation Term Code</th>
      <th scope="col">Current Employer(s)</th>
      <th scope="col">Graduate School(s)</th>
      <th scope="col"></th>
    </thead>
    <tbody>
      <tr *ngFor="let student of alumniList">
        <td class="right-align">{{student["alumnus_id"]}}</td>
        <td>{{student["last_name"]}}</td>
        <td>{{student["first_name"]}}</td>
        <td>{{student["mailing_address_city"]}}</td>
        <td>{{student["mailing_address_state"]}}</td>
        <td class="right-align">{{student["graduation_term_codes"]}}</td>
        <td>{{student["employers"]}}</td>
        <td>{{student["graduate_schools"]}}</td>
        <td><button class="btn-dark shadow-none" (click)="viewDetail(student['alumnus_id'], false)">View</button>
          <button class="btn-dark shadow-none" (click)="viewDetail(student['alumnus_id'], true)">Edit</button>
        </td>

      </tr>
    </tbody>
  </table>
</div>



<div id="pages-search">
  <div id="search-box">
    <div id="header">Search</div>
    <div id="body">


      <table>
        <tr>
          <td>Alumnus ID:</td>
          <td><input style="width: 30px;" type="text" name="alumnus_id"
              [(ngModel)]="searchValues['alumni.alumnus_id']"></td>
        </tr>
        <tr>
          <td>Last Name:</td>
          <td><input type="text" name="last_name" [(ngModel)]="searchValues.last_name"></td>
          <td>First Name:</td>
          <td><input type="text" name="first_name" [(ngModel)]="searchValues.first_name"></td>
        </tr>
        <tr>
          <td>City:</td>
          <td><input type="text" [(ngModel)]="searchValues.mailing_address_city"></td>
          <td>State:</td>
          <td><input style="width: 30px;" type="text" [(ngModel)]="searchValues.mailing_address_state"></td>
        </tr>
        <tr>
          <td>Employer:</td>
          <td colspan="3"><select [(ngModel)]="searchValues.employer">
              <option value=""></option>
              <option *ngFor="let optionValue of employerList" value={{optionValue.value}}>{{optionValue.text}}</option>
            </select></td>
        </tr>
        <tr>
          <td>Graduate School:</td>
          <td colspan="3"><select [(ngModel)]="searchValues.graduateSchool">
              <option value=""></option>
              <option *ngFor="let optionValue of graduateSchoolList" value={{optionValue.value}}>{{optionValue.text}}
              </option>
            </select></td>
        </tr>
      </table>
      <div id="search-button">
        <button class="btn-dark" (click)="getSearchResults()">Search</button>
      </div>


    </div>
  </div>
  <nav aria-label="Record pages" *ngIf="alumniList != undefined && alumniList.length > 0">
    <ul class="pagination justify-content-end paging-links no-select">
      <li class="page-item disabled" [class.disabled]="currentPage == 1">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true"
          (click)="gotoPage(this.currentPage - 1 )">Previous</a>
      </li>
      <li *ngFor="let item of pages; let i = index" class="page-item" [class.paging-links-active]="currentPage == i + 1"
        (click)="gotoPage(i)"><a href="#" class="page-link"
          [class.paging-links-active]="currentPage == (i+1)">{{i + 1}}</a></li>
      <li class="page-item" [class.disabled]="currentPage >= (totalPages - 1)">
        <a class="page-link" href="#" (click)="gotoPage(this.currentPage + 1 )">Next</a>
      </li>
    </ul>
  </nav>

</div>


<div class="detail-form-back" [style.display]="detailVisible ? 'flex' : 'none'">
  <div class="detail-form" [style.display]="editMode == false ? 'inline-block' : 'none'" (click)="$event.stopPropagation()">

    <div class="header">
      <div>
      <div class="student-name">
        {{ currentAlumnus?.alumni?.last_name + ', ' + currentAlumnus?.alumni?.first_name }}

      </div>
     Alumnus ID:  {{ currentAlumnus?.alumni?.alumnus_id}}
    </div>
      <div class="buttons">
        <button class="btn-dark">Edit</button>
        <button class="btn-light" (click)="closeDetail()">Close</button>
      </div>
    </div>
    <div id="main">
      <div class="section-name">
        <div class="left">Mailing Address</div>
        <div class="right">Telephone Number/Email</div>
      </div>
      <div class="flex-container">
        <div class="left">
          {{ currentAlumnus?.alumni?.mailing_address_line_1}}
          <div *ngIf="currentAlumnus?.alumni?.mailing_address_line_2 != null">
            {{currentAlumnus?.alumni?.mailing_address_line_2}}</div>
          {{ currentAlumnus?.alumni?.mailing_address_city != null ? currentAlumnus?.alumni?.mailing_address_city + ', ' : '' }}
          {{currentAlumnus?.alumni?.mailing_address_state != null ? currentAlumnus?.alumni?.mailing_address_state  + ' ' : ''}}
          {{currentAlumnus?.alumni?.mailing_address_zipcode}}
        </div>
        <div class="right">
          {{currentAlumnus?.alumni?.phone_number}}
          <br />{{currentAlumnus?.alumni?.email}}
        </div>
      </div>
      <div class="audit-data">
        <div class="left" style="display: flex;">
        <div style="font-weight: bold;">Added By:<br />Added Date/Time:</div>
        <div>{{currentAlumnus?.alumni?.added_by}}<br />{{currentAlumnus?.alumni?.added_datetime | date:'L/d/yyyy h:mm a'}}</div>
      </div>
      <div class="right" style="display: flex;">
        <div style="font-weight: bold;">Last Updated By:<br />Last Updated Date/Time:</div>
        <div>{{currentAlumnus?.alumni?.updated_by}}<br />{{currentAlumnus?.alumni?.updated_datetime | date:'L/d/yyyy h:mm a'}}</div>
      </div>
      </div>
      <div class="tab-control">
        <div class="selections">


          <button class="no-select" [class.selected]="currentDetailTab == 'degrees'" (click)="changeDetailTab('degrees')">Degrees</button>
          <button class="no-select" (click)="changeDetailTab('employments')" [class.selected]="currentDetailTab == 'employments'">Employments</button>
          <button class="no-select" [class.selected]="currentDetailTab == 'graduateSchools'" (click)="changeDetailTab('graduateSchools')">Graduate Schools</button>
          <button class="no-select" [class.selected]="currentDetailTab == 'comments'" (click)="changeDetailTab('comments')">Comments</button>
        </div>
        <div class="content-area">
          <div id="degrees" [style.display]="currentDetailTab == 'degrees' ? 'inline-block' : 'none'">
              <table>
                    
        
                  <tr>
                    <th>Diploma Description</th>
                    <th>Graduation Term Code</th>
                    <th>Added By<br />Date/Time</th>
                    <th>Last Updated By<br />Date/Time</th>
                  </tr>
                
              <tr *ngFor="let degree of currentAlumnus?.alumni_degrees">
                <td>{{degree['diploma_description']}}</td>
                <td>{{degree['graduation_term_code']}}</td>
                <td>{{degree['added_by']}}<br />{{degree['added_datetime'] | date:'L/d/yyyy h:mm a'}}</td>
                <td>{{degree['updated_by']}}<br />{{degree['updated_datetime'] | date:'L/d/yyyy h:mm a' }}</td>
    
    
    
              </tr>
    
    
    
              </table>
    








          </div>
          <div id="employments" [style.display]="currentDetailTab == 'employments' ? 'inline-block' : 'none'">
              
              <table>
                <tr><th>Employer Name</th>
                  <th>Location</th>
                <th>Role Title</th>
                <th>Active<br />Employment</th>
                <th>Added By<br />Date/Time</th>
                <th>Last Updated By<br />Date/Time</th>
                </tr>
                <tr *ngFor="let employment of currentAlumnus?.employments">
                  <td>{{employment['employer_name']}}</td>
                  <td>{{employment['city']}} , {{employment['state']}}</td>
                  <td>{{employment['job_title']}}</td>
                  <td>{{employment['active'] == 1 ? 'Y' : 'N'}}</td>
                  <td>{{employment['added_by']}}<br />{{employment['added_datetime'] | date:'L/d/yyyy h:mm a'}}</td>
                  <td>{{employment['updated_by']}}<br />{{employment['updated_datetime'] | date:'L/d/yyyy h:mm a' }}</td>
                </tr>
              </table>

          </div>

          <div id="graduate-schools" [style.display]="currentDetailTab == 'graduateSchools' ? 'inline-block' : 'none'">
              
            <table>
              <tr><th>School Name</th>
                <th>Location</th>
              <th>Added By<br />Date/Time</th>
              <th>Last Updated By<br />Date/Time</th>
              </tr>
              <tr *ngFor="let graduateSchool of currentAlumnus?.graduateSchools">
                <td>{{graduateSchool['school_name']}}</td>
                <td>{{graduateSchool['city']}} , {{graduateSchool['state']}}</td>
                <td>{{graduateSchool['added_by']}}<br />{{graduateSchool['added_datetime'] | date:'L/d/yyyy h:mm a'}}</td>
                <td>{{graduateSchool['updated_by']}}<br />{{graduateSchool['updated_datetime'] | date:'L/d/yyyy h:mm a' }}</td>
              </tr>
            </table>

        </div>

        <div id="comments" [style.display]="currentDetailTab == 'comments' ? 'inline-block' : 'none'">
              
          <table>
            <tr><th>Comment</th>

            
          
        <th>Added By<br />Date/Time</th>
        <th>Last Updated By<br />Date/Time</th>
        <th>Actions</th>
            </tr>
            <tr *ngFor="let comment of currentAlumnus?.comments">
              <td><div class="cell-content">{{comment['comment']}}</div></td>
              <td>{{comment['added_by']}}<br />{{comment['added_datetime'] | date:'L/d/yyyy h:mm a'}}</td>
              <td>{{comment['updated_by']}}<br />{{comment['updated_datetime'] | date:'L/d/yyyy h:mm a'}}</td>
              <td><button class="btn-dark shadow-none" (click)="toggleViewAllactive()">View All</button></td>
         
            </tr>
          </table>

      </div>


        </div>

      </div>

    </div>

  </div>

  <div class="edit-form" [style.display]="editMode ? 'inline-block' : 'none'" (click)="$event.stopPropagation()">
    
      <AlumniEditFormComponent *ngIf="editMode" (close)="closeDetail()" [currentAlumnus]="currentAlumnus" [employerList]="employerList" [graduateSchoolList]="graduateSchoolList" [addMode]="addMode" #editForm></AlumniEditFormComponent>
    
    </div>



</div>

     
<div class="detail-form-back" [style.display]="viewAllActive ? 'flex' : 'none'">
  <div class="detail-box">
    <div class="header">
      <div class="header-main">
            </div>
            <div class="buttons">
              
              <button class="btn-light shadow-none" (click)="closeSubDetail()">Close</button>
            
            </div>
            
          </div>
          <div class="main">
            
          </div>
  </div>
</div>