

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

button:focus {
  outline:none !important;
  
}

button {
  font-weight: bold;
  outline: none !important;
}

.records-list {
    margin-left: 20px;
    margin-right: 20px;

}

.records-list .right-align {
  text-align: right;
  width: 170px;
  padding-right: 70px;
}

.records-list button {
  margin-right: 5px;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


.records-list tr:hover  {
  background-color: rgba(211,211,211,0.8);

}





.detail-form-back {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0, 0.7);
  z-index: 3;
  align-items: center;
  justify-content: center;
  
}



.detail-form,.edit-form {
    
  border-radius: 30px;
  
    background-color: white;
  
    width: 55%;
    display:  inline-block;
    border: solid 2px;
    
  }

  


.detail-form table,.edit-form table{
  width: 100%;
  table-layout: fixed;
  
}

.audit-data {
  background-color: rgba(196,196,196,0.10);
  display: flex;
  margin-top: 10px;
}


.detail-form th {
  background-color:  rgba(196,196,196,0.25);
  vertical-align: top;
}

.detail-form .header, .edit-form .header {
  color: white;
  background-color: rgb(154,0,0);
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding-top: 20px;
  padding-bottom: 20px;

  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
}

.detail-form #main {
  display: inline-block;
  margin-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  
}


.detail-form .header .student-name {
  font-weight: bold;
  font-size: 16px;
  color: white;
}


.detail-form .header .buttons button {
  margin-left: 10px;
}


.flex-container {
  display: flex;
}

.detail-form .left {
  flex: 1;
  padding: 0 15px 0 15px;
}

.detail-form .right {
  flex: 1;
  
}

.detail-form .section-name {
  margin-top: 20px;
  background-color: rgba(196,196,196,0.25);
  font-weight: bold;
  width: 100%;
  display: flex;
  
}


.detail-form #employments, #degrees {
  overflow: auto;
}

.detail-form .graduate-schools {
  padding-left: 20px;
  width: 100%;
  margin-top: 10px;
}

.detail-form td {
  vertical-align: top;
}


.align-right {
  text-align: right;

}

.app-page-item-selected {
  background-color: rgb(154,0,0) !important;
  border-color: rgb(154,0,0) !important;
}

.app-page-item {
  color: rgb(154,0,0);
}



.paging-links {
  margin-right: 30px;
  outline: none !important;
  border-color: rgb(154,0,0) !important;

}

.paging-links li {
  outline: none !important;
  border-color: rgb(154,0,0) !important;

}

.paging-links li a {
  color: black;
  outline: none !important;
  box-shadow: none;
}

.paging-links-active {
  color: white !important;
  background-color: rgb(154,0,0) !important;
  border-color: rgb(154,0,0) !important;

}

#search-box {
  margin-left: 20px;
  background-color: #dee2e6;
  margin-top: 30px;
  width: 35%;
}




#search-box #header {
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #343a40;
  color: white;
  font-weight: bold;
  


}

#search-box #body {

  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  border: none;
  background-color: rgba(255,255,255,0.5);


}

#search-box #body table {
    table-layout: fixed;
    width: 100%;
}

#search-box td {
  padding-left: 10px;
}

#search-box #body table input {
    width: 100%;
}


#pages-search {
    display: flex;
    justify-content: space-between;
    align-items: top;
}


#search-box button {
  outline: none !important;
  font-weight: bold;


}

#search-box select {
    width: 100%;
}

#search-box #search-button {
    margin-top: 10px;
    text-align: center;
}

.tab-control {
  width: 100%;
  margin-top: 20px;
  height: 50px;
  display: inline-block;
  padding: 5px 5px 5px 5px;

  overflow: visible;

}


.tab-control .selections {
    display: flex;
    background-color: #343a40;
    height: 45px;


}

.tab-control button {
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(255,255,255, 0.9);
  border: none;
  
  
}

.tab-control .selections .selected {
  background-color:  rgb(154,0,0);
  color: white;
  

  
}


.tab-control .content-area {
  margin-bottom: 10px;
  padding: 15px 5px 15px 5px;
  background-color: rgba(196,196,196,0.15);
  border: solid lightgray;
  border-top: none;
  
}

.tab-control .content-area table {
  table-layout: fixed;
  border: solid  rgba(196,196,196,0.25);
}
